
#btn {
    margin: 10px auto;
    width: 50%;
}


form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

article {
    margin-top: 10%;
    margin-bottom: 4.3%;
}


/* Telas pequenas*/
@media (max-width: 640px) { 
    textarea {
        height: 250px;
    }
}


@media (min-width: 641px) and (max-width: 1024px) {
    #email, #assunto {
    width: 70%;
    }

    textarea {
        height: 250px;
    }
}


@media (min-width: 1025px) {
    #email, #assunto {
    width: 40%;
    }

    textarea {
        height: 250px;
    }
}