body {
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#accordionLicitacoes2025 {
    margin-top: 30px;
    margin-bottom: 50px;
}

footer {
    margin-top: 10%;
}
