html, body {
    height: 100%;
    margin: 0;
}

#card {
    margin-top: 50px;
}

.card {
    margin-top: 5px;
}


/* Ajuste para telas menores */
@media (max-width: 768px) { 
    .card {
    margin-top: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
    
    footer {
        margin-top: 400px;
    }
}