


/* Telas pequenas e médias */
@media (max-width: 1024px) {

    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
        margin: 20px 15px 10px 15px;
    }

    h3 {
        margin: 0 15px 10px 15px;
    }

    body h6 {
        text-align: center;
        margin: 20px 15px 10px 15px;
    }

    body p {
        text-align: justify;
        margin: 0 15px 15px 15px;
        text-indent: 20px;
    }


    #ciclo-img {
        background-image: url(../Imagens/ciclo-urbano.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 300px;
        margin: 20px auto;
        
    }

    ul {
        margin-bottom: 15px;
        margin-left: 15px;
        list-style: numbered;
    }

    ul li {
        margin-bottom: 10px;
    }

    footer {
        align-items: center;
        text-align: center;
    }

    footer ul {
        text-align: center;
    }

    footer div {
        align-items: center;
        text-align: center;
    }

    footer h6 {
        text-align: center;
    }


    #contato {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin-top: -42px;
    }


    #contato p {
        display: flex;
        margin-top: 10px;
        text-align: center;
    }



}

/* Telas grandes */
@media (min-width: 1025px) {

    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
        margin: 20px 15px 10px 15px;
    }

    h3 {
        margin: 0 15px 10px 30px;
    }

    h6 {
        text-align: center;
        margin: 20px 15px 10px 15px;
    }

    p {
        text-align: justify;
        margin: 0 15px 15px 15px;
        text-indent: 15px;
    }


    .ciclo {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #ciclo-img {
        background-image: url(../Imagens/ciclo-urbano.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        align-self: center;
        margin-left: 30px;
        width: 80%;
        height: 400px;
        margin: 20px auto;
    }

    .quem-somos ul {
        margin-top: 55px;
        margin-bottom: 15px;
        margin-right: 15px;
        list-style: numbered;
        width: 60%;
    }

    .quem-somos ul li {
        margin-bottom: 10px;
    }


    #contato {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    #contato p {
        display: flex;
        margin-top: 10px;
        text-align: justify;
    }
}