body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: auto;

}

#imagem {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    background-position: center;
}

.informacoes {
    text-align: center;
    margin-top: 20px;
}

.iframe,
.mapa {
    /*background-color: #eeeeee;*/
    background-color: #F8F9FA;
    margin: auto;
    display: flex;
    justify-content: center;
}

.video {
    width: 50%;
    height: 100%;
}

.mapa {
    height: 400px;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    color: white;
}

/* Telas pequenas */
@media (max-width: 640px) {

    #imagem {
        background-image: url(../Imagens/logo-principal.png);
        background-size: cover;
    }

    .informacoes-contato {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 10px;
        list-style-type: none;
        padding: 0;
    }

    .informacoes-contato li {
        margin: 0 15px;
    }

    #imagem {
        background-color: blue;
        height: 300px;
    }

    .iframe {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .texto {
        text-align: justify;
    }

    .texto h3 {
        text-align: center;
    }

    .texto p {
        text-indent: 20px;
    }

    .video {
        width: 350px;
        height: 250px;
        margin: auto;
    }

    .mapa {
        border-radius: 5px;
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

    }

    .iframe-mapa {
        width: 100%;
        height: 300px;
        margin: auto;
    }
}

/* Telas médias */
@media (min-width: 641px) and (max-width: 1024px) {

    #imagem {
        background-image: url(../Imagens/logo-principal.png);
        background-size: cover;
    }

    .informacoes-contato {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 10px;
        list-style-type: none;
        padding: 0;
    }

    .informacoes-contato li {
        margin: 0 15px;
    }

    #imagem {
        background-color: green;
        height: 400px;
    }

    .iframe {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin: auto;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 25px;
    }

    .texto {
        text-align: justify;
    }

    .texto h3 {
        text-align: center;
    }

    .texto p {
        text-indent: 20px;
    }

    .video {
        width: 450px;
        height: 300px;
        margin: auto;
    }

    .mapa {
        border-radius: 5px;
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .iframe-mapa {
        width: 100%;
        height: 400px;
        margin: auto;
    }
}

/* Telas grandes */
@media (min-width: 1025px) {

    .navbar-brand span {
        display: none;
    }

    #imagem {
        background-image: url(../Imagens/teste.png);
        background-size: cover;
        background-position: center;
    }

    .informacoes-contato {
        display: flex;
        justify-content: center;
        margin-left: 0;
        text-align: center;
        width: 100%;
        margin: auto;
        margin-top: 10px;
        list-style-type: none;
        padding: 0;
    }

    .informacoes-contato li {
        margin: 0 15px 0 0;
    }

    #imagem {
        background-color: red;
        height: 500px;
    }

    .iframe {
        width: 100%;
        flex-direction: row;
        padding: 10px;
        margin-bottom: 55px;
    }

    .texto {
        width: 50%;
        margin-top: 40px;
        padding: 10px;
        text-align: justify;
    }

    .texto p {
        text-indent: 20px;
    }

    .texto h3 {
        text-align: center;
    }

    .video {
        width: 600px;
        height: 400px;
        padding: 10px;
        margin: auto;
    }

    .mapa {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }

    .iframe-mapa {
        width: 600px;
        height: 400px;
        margin: auto;
    }


}