backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "config"
    label: "Conteúdo do Site"
    delete: false
    editor:
      preview: false
    files:
      - name: "licitacoes_data"
        label: "Lista de Licitações"
        file: "licitacoes.json" # O arquivo que o seu JS vai ler
        fields:
          - label: "Itens de Licitação"
            name: "itens"
            widget: "list"
            fields:
              - {label: "Título da Licitação", name: "titulo", widget: "string"}
              - {label: "Data", name: "data", widget: "string"} # Para você digitar como quiser
              - {label: "Descrição Curta", name: "descricao", widget: "text", required: false}
              - {label: "Arquivo PDF", name: "arquivo", widget: "file"}