backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "config"
    label: "Conteúdo do Site"
    delete: false
    editor:
      preview: false
    files:
      - name: "licitacoes_data"
        label: "Lista de Licitações"
        file: "licitacoes.json" # O arquivo que o seu JS vai ler
        fields:
          - label: "Itens de Licitação"
            name: "itens"
            widget: "list"
            fields:
              - {label: "Título da Licitação", name: "titulo", widget: "string"}
              - {label: "Data", name: "data", widget: "string"} # Para você digitar como quiser
              - {label: "Descrição Curta", name: "descricao", widget: "text", required: false}
              - {label: "Arquivo PDF", name: "arquivo", widget: "file"}
      - name: "dispensas_data"
        label: "Dispensas de Licitação"
        file: "dispensas.json"
        fields:
          - label: "Itens de Dispensa"
            name: "itens"
            widget: "list"
            fields:
              - {label: "Número da Dispensa", name: "numero", widget: "string", hint: "Ex: DISPENSA 001/2025"}
              - {label: "Descrição/Objeto", name: "descricao", widget: "string"}
              - {label: "Prazo Limite", name: "prazo", widget: "string", hint: "Ex: 15 de Maio de 2025, às 10:00h"}
              - {label: "Arquivo PDF", name: "arquivo", widget: "file"}