backend:
  name: git-gateway
  branch: main # Verifique se sua branch no GitHub é 'main' ou 'master'

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "lista_licitacoes"
    label: "Licitações e Contratos"
    file: "licitacoes.json"
    folder: "data/licitacoes" # O CMS criará arquivos aqui
    create: true
    format: "json" # Força o formato JSON
    fields:
      - {label: "Título", name: "title", widget: "string"}
      - {label: "Arquivo PDF", name: "pdf", widget: "file"}